<section class="clearfix">
  <!-- Contact Info -->
  <article class="one_eighth_nm">
    <div style="height:122px;">

    </div>
  </article>

  <!-- Text -->
  <article class="one_eighth_nm">
    <div style="border-left:1px solid red; height:122px;">

    </div>
  </article>

  <!-- Text Area -->
  <article class="one_eighth_nm">
    <div style="border-left:1px solid red; height:122px;">

    </div>
  </article>

  <!-- Checkbox -->
  <article class="one_eighth_nm">
    <div style="border-left:1px solid red; height:122px;">

    </div>
  </article>

  <!-- Radio -->
  <article class="one_eighth_nm">
    <div style="border-left:1px solid red; height:122px;">

    </div>
  </article>

  <!-- Date -->
  <article class="one_eighth_nm">
    <div style="border-left:1px solid red; height:122px;">

    </div>
  </article>

  <!-- Dropdown -->
  <article class="one_eighth_nm">
    <div style="border-left:1px solid red; height:122px;">

    </div>
  </article>

  <!-- Choose File -->
  <article class="one_eighth_nm">
    <div style="border-left:1px solid red; height:122px;">

    </div>
  </article>
</section>