<section class="clearfix">
  <!-- Contact Info -->
  <article class="one_eighth_nm">
    <div id="contact_info_selector" style="height:122px;">
      <p>Contact Info</p>
    </div>
  </article>

  <!-- Text -->
  <article class="one_eighth_nm">
    <div id="text_selector" style="border-left:1px solid red; height:122px;">
      <p>Text</p>
    </div>
  </article>

  <!-- Text Area -->
  <article class="one_eighth_nm">
    <div id="textarea_selector" style="border-left:1px solid red; height:122px;">
      <p>Text Area</p>
    </div>
  </article>

  <!-- Checkbox -->
  <article class="one_eighth_nm">
    <div id="checkbox_selector" style="border-left:1px solid red; height:122px;">
      <p>Checkbox</p>
    </div>
  </article>

  <!-- Radio -->
  <article class="one_eighth_nm">
    <div id="radio_selector" style="border-left:1px solid red; height:122px;">
      <p>Radio</p>
    </div>
  </article>

  <!-- Date -->
  <article class="one_eighth_nm">
    <div id="date_selector" style="border-left:1px solid red; height:122px;">
      <p>Date</p>
    </div>
  </article>

  <!-- Dropdown -->
  <article class="one_eighth_nm">
    <div id="dropdown_selector" style="border-left:1px solid red; height:122px;">
      <p>Dropdown</p>
    </div>
  </article>

  <!-- Choose File -->
  <article class="one_eighth_nm">
    <div id="file_selector" style="border-left:1px solid red; height:122px;">
      <p>Add File</p>
    </div>
  </article>
</section>

<!-- Begin final_form and connstructor staging -->
<section class="clearfix">
  <article class="one_half_nm">
    <div id="final_form">

    </div>
  </article>

  <article class="one_eighth_nm">
    <div id="add_input">

    </div>
  </article>

  <article class="three_eighth_nm">
    <div id="stage_and_options">
      <div id="stage">

      </div>
    </div>
  </article>

</section>