body {
    background-color:#000;

}

nav {
    background-color: #f4f4f4;  /* Light Grey */
}

nav ul li {
    list-style-type: none;
    display:inline;
    padding-right: 15px;
}

ul {
    margin:0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#navigate_right ul {
    position:relative;
    float:right;
    padding-right:20px;
}

#content {
    background-color: #fff;  /* White */
}

.home_button {
    height: 70px;
    border:2px solid black;
    vertical-align: middle;
    line-height: 15px;
    background-color: #c3dfff;
    text-align: center;
    margin-top:50px;
    border-radius:15px;
    text-decoration: none;
}

#register_button {
    height: 70px;
    border:2px solid black;
    vertical-align: middle;
    line-height: 70px;
    background-color: #2598ff;
    text-align: center;
    margin-top:50px;
    border-radius:5px;
    text-decoration: none;
}

#final_form {
    height: 500px;
    border:2px solid black;
    vertical-align: middle;
    line-height: 70px;
    background-color: #bafcff;
    text-align: center;
    margin-top:50px;
    border-radius:5px;
    text-decoration: none;
}

#add_input {
    height:62px;
    width:62px;
    border:2px solid black;
    vertical-align: middle;
    line-height: 70px;
    background-color: #bafcff;
    text-align: center;
    margin:auto;
    margin-top:250px;
    border-radius:5px;
    text-decoration: none;
}

#stage_and_options {
    height: 500px;
    border:2px solid black;
    vertical-align: middle;
    line-height: 70px;
    background-color: #bafcff;
    text-align: center;
    margin-top:50px;
    border-radius:5px;
    text-decoration: none;
}

#stage {
    width:364px;
    height:430px;
    vertical-align: middle;
    line-height: 70px;
    background-color: #b2ffd2;
    text-align: center;
    border-radius:5px;
    text-decoration: none;
}

/* Staged layout for changing z-indexes */

#staged_neutral {
    position:absolute;
    z-index:1;
    margin:0;
    background-color: #ff807f;
    width:364px;
    height:430px;
}

#staged_text {
    position:absolute;
    z-index:-1;
    margin:0;
    background-color: #ff894f;
    width:364px;
    height:430px;
}

#staged_text_area {
    position:absolute;
    z-index:-1;
    margin:0;
    background-color: #fff573;
    width:364px;
    height:430px;
}

#staged_checkbox {
    position:absolute;
    z-index:-1;
    margin:0;
    background-color: #8fff7d;
    width:364px;
    height:430px;
}

#staged_radio {
    position:absolute;
    z-index:-1;
    margin:0;
    background-color: #5afffc;
    width:364px;
    height:430px;
}

#staged_date {
    position:absolute;
    z-index:-1;
    margin:0;
    background-color: #6369ff;
    width:364px;
    height:430px;
}

.wrapper {
    margin:auto;
    width:980px;
    background-color:#fff;
}

/* ----- =columns ----- */

.one_half { 	 width:460px; }
.one_third {	 width:300px; }
.two_third {	 width:620px; }
.one_fourth {	 width:220px; }
.one_eighth { width:102px;}
.three_fourth { width:700px; }
.full_column {	 width:940px; }

.one_half_nm  {width:490px; margin:0;}
.one_third_nm {width:313px; margin:0;}
.two_third_nm {width:626px; margin:0;}
.one_fourth_nm {width:235px; margin:0;}
.one_eighth_nm {width:122px; margin:0;}
.three_eighth_nm {width:366px; margin:0;}
.three_fourth_nm {width:705px; margin:0;}


article {
    position:relative;
    margin-left:20px;
    margin-bottom:16px;
    float:left;
}

/* clearfix */
.clearfix:before,
.clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix { *zoom: 1; }

/* DEMO STYLE - Box Outlines  */

/*article {*/
    /*box-sizing:border-box;*/
    /*border: solid #000 1px;*/
    /*padding: 10px;*/
/*}*/

/*section {*/
    /*box-sizing:border-box;*/
    /*border: solid red 1px;*/
    /*padding: 20px 0 10px 0;*/
/*}*/